---
import Hamburguer from "./Hamburguer.astro";
import Navigation from "./Navigation.astro";
import ThemeiIcon from "./ThemeiIcon.astro";
---

<header>
    <nav>
        <Hamburguer/>
        <ThemeiIcon/>
        <Navigation />
    </nav>
</header>